#sbx {
  position: relative;
  width: 20rem;
  .box-wrapper {
    position: absolute;
    top: 3rem;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
  }
  .box {
    text-align: left;
    background-color: rgb(173, 224, 222);
    /*border: black ridge 1px;*/
    border-radius: 10px;
    margin: 3px;
    width: 100%;
    padding: 10px;
  }
  a {
    text-decoration: none;
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper {
  .container,
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: inherit;
  }
  .navbar {
    width: 100% !important;
  }
}

.navbar-inverse {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0;
  .nav > li > a {
    color: #ffffff;
  }
  .nav > li > a:hover {
    background: none;
  }
}

.navbar-brand a {
  color: #ffffff;
}
