<div id="ykth" class="ykth-hide">
  <div class="ykth-inner">
    <div class="ykth-head">
      <svg style="width: 30px; height: 30px" viewBox="0 0 26 26">
        <path
          fill="#FFFFFF"
          d="M13,13H11V7H13M12,17.3A1.3,1.3 0 0,1 10.7,16A1.3,1.3 0 0,1 12,14.7A1.3,1.3 0 0,1 13.3,16A1.3,1.3 0 0,1 12,17.3M15.73,3H8.27L3,8.27V15.73L8.27,21H15.73L21,15.73V8.27L15.73,3Z" />
      </svg>
      <b>Adblock detected</b>
      <p>We have detected that you are using adblock in your browser</p>
      <i class="close" id="close-notif">&#215;</i>
    </div>
    <div class="ykth-body">
      <p>
        We have detected that you are using adblock in your browser on page
        <b id="adblock-page-title">
          {% if page.title %}
          {{ page.title }}
          {% elif post.title %}
          {{ post.title }}
          {% elif title %}
          {{ title }}
          {% endif %}
        </b>
        you've visited.
      </p>
      <p>
        Our website is made possible by displaying online advertisements to our
        visitors.
      </p>
      <ul>
        Our advertiser
        <li>Google Adsense</li>
      </ul>
      <p>
        Please consider supporting us by disabling your ad blocker. Thank you.
      </p>
    </div>
    <!-- Start Condition When JS Disable -->
    <noscript>
      <div class="ykth-body">
        <p>Javascript is disabled in your web browser.</p>
        <p>
          For full functionality of this site it is necessary to enable
          JavaScript. Here are the
          <a href="https://www.enable-javascript.com/" target="_blank">
            instructions how to enable JavaScript in your web browser</a
          >.
        </p>
      </div>
      <style>
        #ykth {
          display: block !important;
        }

        .ykth-inner > .ykth-body {
          display: none;
        }

        .ykth-head > b,
        .ykth-head > p {
          font-size: 0;
        }

        .ykth-head > b:before {
          content: 'Javascript Detected';
          font-size: 16px;
        }

        .ykth-head > p:before {
          content: 'We have detected that you are disable javascript in your browser';
          font-size: 14px;
        }
      </style>
    </noscript>
    <!-- End Condition When JS Disable -->
  </div>
</div>

<script src="https://www.webmanajemen.com/assets/adblock-notify/script.js"></script>
<link rel="stylesheet" href="https://www.webmanajemen.com/assets/adblock-notify/style.css" />
<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    setTimeout(() => {
      const titleBold = document.getElementById('adblock-page-title');
      if (titleBold) {
        const contains404 = /404/i.test(titleBold.textContent);
        const isWMI = /^wmi$/i.test(titleBold.textContent.trim());
        const isEmpty = titleBold.textContent.trim().length === 0;
        if (contains404 || isWMI || isEmpty) {
          titleBold.textContent = document.title;
        }
      }
    }, 1000);
  });
</script>
<script src="https://www.webmanajemen.com/r-ads.js"></script>
<style>
  .adsbygoogle {
    display: block;
    background: #fff url(//i.imgur.com/mBbv90p.png) no-repeat top right;
    color: #303030;
    min-height: 180px;
    min-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>
