<style>
  /* fix index title overload the body width */
  a.post-title-link {
    max-width: 100%;
  }
  /* fix long image in homepage */
  .main-inner.index .post-gallery .post-gallery-image img {
    height: 300px;
    object-fit: cover;
    opacity: 1;
    width: 100%;
    object-position: top;
  }
</style>
