<div id="keywords">
  {% set keywordTitle = "Incoming terms on "+page.title %}
  {% if post.keywords %}
  <h5>{{ keywordTitle }}</h5>
  {{ post.keywords | join(", ") }}
  {% elif post.keyword %}
  <h5>{{ keywordTitle }}</h5>
  {{ post.keyword | join(", ") }}
  {% endif %}
</div>
